<article class="listing">
    <h3>{{task.title}}</h3>
    <a {{action 'toggleVisible'}} class="image {{if isVisible "visible"}}">
        
        <span>{{task.difficulty}}</span>
        <small>Hide</small>
    </a>
    <div class="detail description">
      <span>Description:</span> {{task.description}}
    </div>
    <div class="detail type">
       <span>Type:</span> {{task-category-type task.type}}
      - {{task.type}}
    </div>
    <div class="detail bedrooms">
      <span>Difficulty:</span> {{task.difficulty}}
    </div>
    <div>
        {{#link-to 'tasks.detail' task.id}}Detail{{/link-to}}
        {{#link-to 'tasks.edit' task.id}}Edit{{/link-to}}
        {{#link-to 'tasks.delete' task.id}}Delete{{/link-to}}
    </div>
  </article>