<article class="listing">
    <h3>Delete: are you sure?</h3>
        <div class="detail description">
      <span>Title:</span> {{model.title}}
    </div>
    <div class="detail description">
      <span>Description:</span> {{model.description}}
    </div>
    <div class="detail type">
       <span>Type:</span> {{task-category-type model.category}}
      - {{task.category}}
    </div>
    <div class="detail bedrooms">
      <span>Difficulty:</span> {{model.difficulty}}
    </div>
    <button {{action 'delete' on='click'}}class="button">Delete</button>
    <button {{action 'cancel' on='click'}}class="button">Cancel</button>
    {{#link-to "tasks"}}See all{{/link-to}}
  </article>