<article class="listing">
    <h3>Detail: {{model.title}}</h3>
    <div class="detail description">
      <span>Description:</span> {{model.description}}
    </div>
    <div class="detail type">
       <span>Type:</span> {{task-category-type model.category}}
      - {{task.category}}
    </div>
    <div class="detail bedrooms">
      <span>Difficulty:</span> {{model.difficulty}}
    </div>
    {{#link-to "tasks"}}See all{{/link-to}}
  </article>