<article class="listing">
    <h3>Detail: {{model.title}}</h3>
    <div class="detail description">
      <span>Description:</span> {{model.description}}
    </div>
    <div class="detail type">
       <span>Type:</span> {{task-category-type model.category}}
      - {{task.category}}
    </div>
    <div class="detail bedrooms">
      <span>Difficulty:</span> {{model.difficulty}}
    </div>
    <div>
        {{#link-to 'tasks.detail' model.id}}Detail{{/link-to}} |
        {{#link-to 'tasks.edit' model.id}}Edit{{/link-to}} | 
        {{#link-to 'tasks.delete' model.id}}Delete{{/link-to}}
    </div>
  </article>